<div id="sidebarMenu">
    <ul>
      <br>
      <li class="nav-item">
        <a href="/products/sanpham"><i class="fas fa-leaf"></i> Sản phẩm</a>
      </li>
      <br>
      <li class="nav-item">
        <a href="/categories/loaisanpham"><i class="fas fa-indent"></i> Loại sản phẩm</a>
      </li>
      <br>
      <li class="nav-item">
      <a href="/users/khachhang"><i class="fas fa-user-alt"></i> Khách hàng</a>

      </li>
      <br>
      <li class="nav-item">
          <a href="#"><i class="fas fa-shopping-cart"></i> Đơn hàng</a>
      </li>
      <br>
      <li class="nav-item">           
          <a href="#"><i class="fas fa-comments"></i> Đánh giá</a>
      </li>
    </ul>
</div>


