<div class="container-fluid">
	<div class="left" style="width:600px;">
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Thêm loại sản phảm mới</h1>
		<br>

		<!-- DataTales Example -->
		{{!-- <div class="card shadow mb-4"> --}}
		{{!-- <div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Category create form</h6>
		</div>
		<br> --}}
		{{!-- <div class="card-body"> --}}
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<span class="m-0 font-weight-bold text-primary">From thêm loại sản phẩm</span>
			</div>
			<div class="card-body">
				<form action="" method="post">
					<p>Tên:</p>
					<input class="form-control" type="text" name="Name">
					<button class="btn btn-primary mt-5">Thêm</button>
				</form>
			</div>
		</div>
	</div>
</div>
